<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookstore.repository.InventoryMapper">
    <insert id="create">
        INSERT INTO inventories (book_id, available_quantity, reserved_quantity, sold_quantity, version)
        VALUES (#{bookId}, #{availableQuantity}, 0, 0, 0)
    </insert>
    <update id="updateAvailable">
        UPDATE inventories
        SET available_quantity = #{availableQuantity}, version = version + 1
        WHERE book_id = #{bookId}
    </update>
    <update id="reserve">
        UPDATE inventories
        SET available_quantity = available_quantity - #{quantity},
            reserved_quantity = reserved_quantity + #{quantity}, version = version + 1
        WHERE book_id = #{bookId} AND available_quantity >= #{quantity}
    </update>
    <update id="confirmSale">
        UPDATE inventories
        SET reserved_quantity = reserved_quantity - #{quantity}, sold_quantity = sold_quantity + #{quantity}, version = version + 1
        WHERE book_id = #{bookId} AND reserved_quantity >= #{quantity}
    </update>
    <update id="release">
        UPDATE inventories
        SET reserved_quantity = reserved_quantity - #{quantity}, available_quantity = available_quantity + #{quantity}, version = version + 1
        WHERE book_id = #{bookId} AND reserved_quantity >= #{quantity}
    </update>
</mapper>
